.cart-page {
  height: 100vh;
  padding: 1rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
  transition: all 0.3s;
  @include desktop{
    margin: 0 10rem;
  }
  h2 {
    margin: 2rem;
    text-align: left;
  }
  ul {
    background-color: var(--color-primary);
    color: var(--color-subtxt);
    li {
      text-align: center;
      @include tablet {
        text-align: left;
        @include flex-layout(row, flex-start, center);
        padding: 1rem 2rem;
      }
      gap: 2rem;
      margin: 1rem 0;
      img {
        width: 150px;
      }
      h3,
      h4 {
        font-weight: normal;
      }
      .item-info {
        @include flex-layout(column, center, center);
        flex: 1;
        gap: 0.5rem;
        @include tablet {
          @include flex-layout(row, center, center);
          flex: 1;
        }
      }
      .item-icon {
        margin-top: 0.5rem;
        font-size: 30px;
        cursor: pointer;
      }
    }
  }
}
.cart-summary {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-primary);
  padding: 3rem;
  @include flex-layout(row, space-around, center);
  .summary-price {
    @include flex-layout();
    gap: 0.5rem
  }
  button {
    @include btn-style();
  }
}
.empty-cart {
  margin-top: 100px;
  text-align: center;
  p {
    margin: 1rem 0;
  }
  button {
    @include btn-style();
  }
}