.shared-menu{
  background-color: #eee;
}
.wrapper{
  min-height: 100vh;
  .product-detail{
    text-align: center;
    .title-main{
      text-align: center;
      font-family: 'GongGothicMedium';
      font-size: $font-h1;
      font-weight: 200;
      margin-top: 6rem;
      margin-bottom: 0;
//반응형
      @include tablet {
        font-size: 3rem; 
        margin-top: 6rem;
      }

      @include desktop {
        font-size: 3.5rem;
      }
    }
    p {
      margin: 0;
  }
    .main-txt {
      margin-top: 2rem;  
      margin-bottom: 1rem 0; 
      .mainimg{
      width: 100%;
      margin-top: 2rem;
      margin-bottom: 1rem;
      }

    }
    .note-img-wrap{
      margin: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      margin-bottom: 3rem;
      img{
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      img.row{
        grid-column: 1/3;
        height: 150px;
                
        @include tablet {
          grid-column: 1 / -1;
          height: 200px;
        }
        @include desktop {
          height: 200px;
        }
      }
      p{
        text-align: left;
        // margin: 2rem 0;
        font-size: 1rem;

        line-height: 1.6; 
        word-break: keep-all; 
        white-space: normal;        

        @include tablet {
          margin-top: 4rem;
          font-size: 1.1rem;
        }

        @include desktop {
          margin-top: 4rem;
          font-size: 1.2rem;
        }
      }
      }
    }
  }
.detail-page{
    color: var(--color-maintxt);
    width: 100%;
    @include flex-layout(column);
    img{
        width: 100%;
    }
    .title-top{
        padding: 2rem 0;
        padding-bottom: 1rem;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .share-icon{
            font-size: 2rem;
        }
        .reviews{
            display: flex;
            align-items: center;
            .star{
                color: var(--color-primary);
                font-size: 1.2rem;
            }
            span{
                color: var(--color-Secondary);
                padding-left: 8px;
                font-size: 0.9rem;
            }
        }
    }
    .price{
        width: 90%;
        display: flex;
        align-items: center;
        gap: 1rem;
        h2{
            font-size: 2rem;
        }
        span{
            background-color: var(--color-primary);
            color: var(--color-subtxt);
            padding: 0.3rem 0.5rem;
            border-radius: 10px;
        }
    }
    .privilige{
        padding: 1rem 0;
        width: 90%;
        display: flex;
        gap: 1rem;
        .two-type{
            button{
                display: inline-block;
                margin-left: 10px;
                border: none;
                outline: none;
                background: transparent;
                font-weight: bold;
            }
        }
    }
    .deliver{
        padding-bottom: 1rem;
        width: 90%;
        display: flex;
        gap: 1rem;
        .deli-info{
            .deli-now{
                display: flex;
                align-items: center;
                gap: 0.5rem;
                span{
                    color: var(--color-primary);
                    font-weight: bold;
                }
            }
            .plus-charge{
                font-size: 0.9rem;
                padding-left: 1rem;
            }
        }
    }
    .deli-date{
        margin-bottom: 1rem;
        padding: 1rem 0;
        border: 1px solid var(--color-maintxt);
        width: 90%;
        display: flex;
        justify-content: space-between;
        .text{
            padding-left: 1rem;
        }
        .down-arrow{
            margin-right: 1rem;
            cursor: pointer;
        }
    }
}