.project, .goods {
  color: var(--color-maintxt);
  margin: 2rem 0;
  position: relative;
  .project-wrap, .goods-wrap {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
    @include flex-layout(column, center, center);
    @include tablet{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    h2{
      // @include font-title; // 폰트 수정할거 //이부분 아마 font-weight만 조정해주심될것같아요!
      padding: 0.5rem 0;
    }
    button {
    @include banner-btn;
    }
  }
  .img-wrap {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      @include tablet{
        width: 100%;
        height: 600px;
        object-fit: cover;
        object-position: center 80%;
        display: block;
      }
      @include desktop{
        width: 100%;
        height: 700px;
        object-fit: cover;
        object-position: center 90%;
        display: block;
      }
    }
  }
}
