.shampoobar {
  text-align: center;
  width: 100%;
  img * {
    width: 300px;
  }
  .title {
    padding: 2rem 0;
    hr {
      border: 1px solid var(maintxt);
      // margin: 2rem 0;
    }
    p {
      padding-top: 1rem;
    }
    h1 {
      padding: 1rem 0;
      font-size: $font-h1;
      color: var(--color-Secondary);
    }
  }
  .hashtag {
    width: 90%;
    margin: 1rem 0;
    h2 {
      word-break: keep-all;
      margin: 5rem 0;
    }
    button {
      margin-bottom: 3rem;
      @include hashtag-style-2();
    }
  }
}
// How to use
.how-to-use{
  
}



// 배송정보
.info {
  word-break: keep-all;
  background-color: var(--color-subtxt);
  .info-one {
    text-align: left;
    padding: 4rem 2rem;
    li {
      hr {
        margin: 1rem 0;
      }
    }
    h3{
      margin-top: 2rem;
    }
    p{
      font-size: $font-small-small;
      padding: 0.2rem 0;
    }
  }
}
