/*
1. 실버 포인트용 (스테인리스 느낌 강조)
--color-silver: #C0C0C0;
→ 금속 질감 강조용, 라인이나 배경 테두리에 좋아

2. 은은한 포인트 베이지/브라운
--color-sand: #D6CFC2;
→ 배경용으로 사용 시 깔끔하고 따뜻한 느낌

--color-clay: #A4957D;
→ 섹션 분리선이나 서브 타이틀 컬러에 사용하기 좋아

3. 민트/청록 톤 포인트
--color-mint: #AFCBB2;
→ 생기 있는 느낌 주면서도 친환경 무드 유지 가능

--color-deepmint: #6B8F71;
→ 강조 버튼 hover, 강조 텍스트 등

4. 로즈 베이지 (감성적 따뜻함)
--color-rosebeige: #E6D8C3;
→ 감성적이고 고급스러운 배경, 박스에 활용하기 좋음

  --color-primary:#7A8B55;
  --color-Secondary:#3E5D4B;
  --color-Hover:#55613A;
  --color-bg:#FEFCF7;

  --color-maintxt: #5C5C5C;
  --color-subtxt: #E5E2DA;
  --color-black: #333333;

  //폰트
$font-h1:3rem;
$font-large:2rem;
$font-medium: 1.5rem;
$font-small: 1rem;

*/
.product-detail {
  word-break: keep-all;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  max-width: 700px;
  padding: 2rem;
  background-color: #f0e7d9;
  color: var(--color-maintxt);
  .product-info {
    margin: 3rem 0;
    text-align: left;
    h2 {
      font-family: "GongGothicMedium";
      font-size: $font-large;
      font-weight: 300;
      margin-bottom: 0.5rem;
      color: var(--color-black);
    }
    hr{
      margin: 2rem 0;
    }
    .short-desc {
      font-size: 1.2rem;
      line-height: 1.4;
      margin: 1rem 0;
    }
    .feature-list {
      margin-bottom: 1.5rem;
      li {
        list-style: disc;
        margin-left: 1.5rem;
        margin-bottom: 0.5rem;
      }
    }
    .spec {
      p {
        margin-bottom: 0.5rem;
        line-height: 1.4;
        strong {
          font-weight: 600;
          color: var(--color-black);
        }
      }
    }
  }
  .product-image {
    background-color: #c0c0c0;
    @include flex-layout(column, center, center);
    gap: 2rem;
    text-align: center;
    min-height: 600px;
    color: var(--color-black);
    padding: 2rem;
    img {
      max-width: 80%;
    }
  }
  .product-gallery {
    margin-top: 2rem;
    img {
      width: 100%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    }
  }
}

/*
  max-width: 50vw;
  height: 100vh;

  .product-image {
    img {
      width: 100px;
    }
  }
    */
